*{
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    

}






.landing{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(135deg, #141e30, #243b55);
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: none;
}

#body-img{
  position: absolute;
  top: 25%;
  right: 0%;
  width: 50%;
  height: 50%;
  object-fit: contain;
  display: none;
}




.content{
    height: 30%;
    width: 60%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 10%;
    color: #fff;
    gap: 10%;
    font-size: 1.
    
}

#enter{
    height: 20%;
    width:20%;
}







#container{
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(135deg, #141e30, #243b55); */
    background-color: black;
    display: flex;
}

#navbar , #navboxes{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13%;
    list-style: none;
    padding: 20px 20px;
    position: fixed;
    border-bottom: 1px solid white;
}


#input{
    padding: 0px 15px;
    height: 5vh;
    width: 25vw;
    border-radius: 15px;
    border: none;
}

a{
    text-decoration: none;
    font-size: 1.2vw;
    color: #fff;
}

#NO-Search{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#content-main{
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
}

#music-Player{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}

#music-all-system{
    height: 65%;
    width: 25%;
    /* background: rgba(255, 255, 255, 0.09); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.16);
    /* background-color: black; */
    /* color: #fff; */
    color: #fff;
}

#song-Img , #pic{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#content-like{
    padding: 2px 28px;
    height: 15%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8vw;
}

#img , #sev{
    object-fit: cover;
}

.fa-heart{
    font-size: 25px;
    color: white;
    
}

#controller{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 28px;
}

#range{
    width: 90%;
    height: 10%;
}

#music-controller{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 2vw;
}

#pause{
    display: none;
}

.like{
    color: red;
}

.fa-volume-high{
    color: #fff;
}

#volume-controller{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

#vol{
    height: 10%;
    width: 15vw;
}


#detail{
    position: absolute;
    top: 13%;
    right: 1%;
}

#cross{
    position: absolute;
    top: 1.5%;
    right: 2.5%;
}

#dtl{
    color: white;
    font-size: 1vw;
}

#detail-content{
    height: 85vh;
    width: 25vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12%;
    right: 0.5%;
    display: none;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.16);
    /* background-color: black; */
    /* color: #fff; */
    color: #fff;
}

#content-Info{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.cons{
    margin-top: 5px;
}

#options{
    display: none;
    align-items: center;
     flex-direction: column;
    justify-content: baseline;
    position: absolute;
    top: 10.5%;
    left: 19%;
    height: 40%;
    width: 30%;
    border-radius: 10px;
    overflow-y: auto;
    background-color: black;
    z-index: 1;
    /* background-color: black; */
    /* color: #fff; */
    color: #fff;
}

::-webkit-scrollbar{
    overflow: hidden;
}

.option-content{
   display: flex;
    height: 30%;
    width: 90%;
    gap: 25px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.songInfo{
    display: flex;
    flex-direction: column;
}

#Nosearch{
    display: none;
}

footer{
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.log-in{
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
}

#log-content , .sign-content{
    height: 90%;
    width: 25%;
    background-color: #243b55;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.account{
    margin-top: 10px;
}



.sign-div{
    padding: 5px 20px;
}


#form , #sign-form{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sign-form{
    display: none;
}



.inputP{
    height: 5vh;
    width: 20vw;
    padding: 20px 20px;
    border-radius: 5px;
}

.form-heading{
    font-size: 1.5vw;
    color: #fff;
}


#submit,#sign-submit{
    padding: 10px 30px;
}

.mess{
    padding: 20px 20px;
}

.green{
    color: green;
}

.red{
    color: red;
}


@media(max-width : 480px){

    .landing{
        height: 100vh;
        width: 100vw;
        display: none;
        justify-content: center;
        align-items: center;
    }

    h3{
    font-size: 5vw;
    }

    
    .content{
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        top: 0%;
        left: 0%;
        gap: 5%;
    }

    #body-img{
        display: none;
    }

    #enter{
        height: 6%;
        width:40%;
    }

    .nav-heading{
        display: none;
    }

    .input{
        display: flex;
    }

    #input{
        width: 70vw;
    }

    #detail-content{
        display: none;
    }

    #content-like{
        font-size: 2.5vw;
    }

    #music-all-system{
        width: 90%;
    }

    #music-controller{
        font-size: 5vw;
    }

    #vol{
        width: 30vw;
        margin: 5px;
    }

    #options{
        height: 100vh;
        width: 100vw;
        left: 0;
    }
    
    .mess{
        padding: 5px 5px;
    }

    .log-in{
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
}

#log-content , .sign-content{
    height: 85%;
    width: 90%;
    background-color: #243b55;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}







#form , #sign-form{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sign-form{
    display: none;
}

#dtl{
    display: none;
}

#detail-content{
    display: none;
}

.inputP{
    height: 5vh;
    width: 80vw;
    padding: 20px 20px;
    border-radius: 5px;
}

.form-heading{
    font-size: 5vw;
    color: #fff;
}


#submit,#sign-submit{
    padding: 10px 30px;
}

.a-form{
    font-size: 5vw;
}
}




